<div class="work experience">
    <h2>Work experience</h2>
       <dl>
    <dt> Manager, Data Science, <em>NielsenIQ</em>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color:#808080";>Jan. 2015 - Aug. 2021</span> </dt>
        <dd><li><span style="color:#808080";>Lead E-Commerce Market Estimation in Korea</span></li></dd>
        <dd><li><span style="color:#808080";>Lead Product Enhancement in Developed Asia (South Korea, Taiwan, HongKong, and Japan)</span></li></dd>
        <dd><li><span style="color:#808080";>Co-lead FMCG Market Estimation in Korea</span></li></dd>
    <dt><em>Office of the President</em>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color:#808080";>Nov. 2011 - Feb. 2013</span> </dt>
        <dd><li><span style="color:#808080";>Tour Service Team in the General Affairs team as mandatory military service</span></li></dd>
  </dl>
  </div><br>

<div class="educations">
    <h2>Educations</h2>
         <dl>
    <dt>KAIST (Korea Advanced Institute of Science and Technology)
        &nbsp;
        <span style="color:#808080">Sep. 2021 - present</span> </dt>
        <dd><li><span style="color:#808080";>M.S. candidate in Industrial and Systems Engineering</span></li></dd>
        <dd><li><span style="color:#808080";>Research interest: Graph Neural Networks / Continual Learning</span></li></dd>
        <dd><li><span style="color:#808080";>Advisor: <a href="https://dsail.kaist.ac.kr/professor/">Chanyoung Park</a></span></li></dd>
    <dt>Sungkyunkwan University
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color:#808080";>Mar. 2009 - Feb. 2015</span> </dt>
        <dd><li><span style="color:#808080";>B.S.E, System Management Engineering</span></li></dd>
        <dd><li><span style="color:#808080";><em>Summa Cum Laude (1/133)</em></span></li></dd>
  </dl>
  </div>
