<div class="work experience">
    <h2>Work experience</h2>
       <dl>
    <dt> Manager, Data Science, <em>NielsenIQ</em><span style="float:right; color:#808080";>Jan. 2015 - Aug. 2021</span> </dt>
        <dd>
            <li><span style="color:#808080";>Led E-Commerce Market Estimation in Korea</span></li>
            <ul>
                <li><span style="color:#808080; font-size:85%";>Developed the estimation methodology of Korea E-commerce market</span></li>
                <li><span style="color:#808080; font-size:85%";>Led category and brand classification project of item using deep-learning (LSTM)</span></li>
            </ul>
            <li><span style="color:#808080";>Led Product Enhancement (Especially, South Korea, Taiwan, HongKong, and Japan)</span></li>
            <ul>
                <li><span style="color:#808080; font-size:85%";>Led the development <em style="color:#808080">global platform</em> - automated client inquiry resolution (e.g. data extraction, analysis, visualization)</span></li>
                <li><span style="color:#808080; font-size:85%";>Led sample optimization project</span></li>
                <li><span style="color:#808080; font-size:85%";>Led trading area analysis project (clustering) through data fusion of cooperators (e.g. credit card, telecom)</span></li>
            </ul>
            <li><span style="color:#808080";>Co-led FMCG Market Estimation in Korea</span></li>
            <ul>
                <li><span style="color:#808080; font-size:85%";>Co-led the transition of the production platform</span></li>
                <li><span style="color:#808080; font-size:85%";>Played a key role in the M&A process (completed within 5 months) by connecting the data of both companies</span></li>
            </ul>
            <li><span style="color:#808080";>Participated in global programs</span></li>
            <ul>
                <li><span style="color:#808080; font-size:85%";>Data Science Leadership Program in Oxford 2019 (20 top-talents in the global data science)/span></li>
                <li><span style="color:#808080; font-size:85%";>Machine Learning Training in Lisbon 2020 (~20 talents in the global data science)</span></li>
            </ul>
        </dd>
    <dt>Office of the President<span style="float:right; color:#808080";>Nov. 2011 - Feb. 2013</span> </dt>
        <dd><li><span style="color:#808080";>Tour Service Team in the General Affairs team as mandatory military service</span></li></dd>
  </dl>
  </div><br>

<div class="educations">
    <h2>Educations</h2>
         <dl>
    <dt>KAIST (Korea Advanced Institute of Science and Technology)<span style="float:right; color:#808080">Sep. 2021 - present</span> </dt>
        <dd><li><span style="color:#808080";>M.S. candidate in Industrial and Systems Engineering</span></li></dd>
        <dd><li><span style="color:#808080";>Research interest: Graph Neural Networks; Continual Learning; Neural ODEs</span></li></dd>
        <dd><li><span style="color:#808080";>Advisor: <a href="https://dsail.kaist.ac.kr/professor/">Chanyoung Park</a></span></li></dd>
    <dt>Sungkyunkwan University<span style="float:right; color:#808080";>Mar. 2009 - Feb. 2015</span> </dt>
        <dd><li><span style="color:#808080";>B.S.E, System Management Engineering (Industrial Engineering)</span></li></dd>
        <ul>
            <li><span style="color:#808080";><em style="color:#808080">Summa Cum Laude (1/133)</em></span></li>
        </ul>
        <dd><li><span style="color:#808080";>B.A., Psychology</span></li></dd>
  </dl>
  </div>
